<div class="block px-1 py-1">
    <h2 class="title">Tweets</h2>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Looking back on 20 years of <a
                    href="https://twitter.com/hashtag/Drupal?src=hash&amp;ref_src=twsrc%5Etfw">#Drupal</a> - who were
            the people who first welcomed you into the community? Who are some users who have made a positive impact on
            you in the last year? <a
                    href="https://twitter.com/hashtag/CelebrateDrupal?src=hash&amp;ref_src=twsrc%5Etfw">#CelebrateDrupal</a>
            <a href="https://t.co/2AmhR8mYvD">pic.twitter.com/2AmhR8mYvD</a></p>&mdash; Drupal Association
        (@drupalassoc) <a href="https://twitter.com/drupalassoc/status/1349802634492989446?ref_src=twsrc%5Etfw">January
            14, 2021</a></blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">.<a href="https://twitter.com/drupal?ref_src=twsrc%5Etfw">@Drupal</a>&#39;s
            20th birthday is this Friday, January 15, but we plan to <a
                    href="https://twitter.com/hashtag/CelebrateDrupal?src=hash&amp;ref_src=twsrc%5Etfw">#CelebrateDrupal</a>
            for the entire year. How do you plan to celebrate? Use the hashtag <a
                    href="https://twitter.com/hashtag/CelebrateDrupal?src=hash&amp;ref_src=twsrc%5Etfw">#CelebrateDrupal</a>
            to share your <a href="https://twitter.com/hashtag/Drupal?src=hash&amp;ref_src=twsrc%5Etfw">#Drupal</a>
            celebration with the entire <a
                    href="https://twitter.com/hashtag/DrupalCommunity?src=hash&amp;ref_src=twsrc%5Etfw">#DrupalCommunity</a>.
            <a href="https://t.co/4157mlufOV">pic.twitter.com/4157mlufOV</a></p>&mdash; Drupal Association
        (@drupalassoc) <a
                href="https://twitter.com/drupalassoc/status/1349386228442009600?ref_src=twsrc%5Etfw">January 13,
            2021</a>
    </blockquote>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Drupalcon Trivia Night 2011-03-10<br><br>Alan Burke
            proposes an
            in-person, team based trivia contest on the last night of Drupalcon Chicago. Drupalers have a jolly time,
            nobody
            recalls who wins, and Irish Drupal hosts many more trivia nights. <a href="https://t.co/Ub8SNrJ2uF">https://t.co/Ub8SNrJ2uF</a>
        </p>&mdash; weitzman (@weitzman) <a href="https://twitter.com/weitzman/status/1337819419838476290">December
            12, 2020</a></blockquote>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>