<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Drupal history</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body class="container">
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Drupal history</a>
  </div>
</nav>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Drupalcon Trivia Night 2011-03-10<br><br>Alan Burke proposes an
  in-person, team based trivia contest on the last night of Drupalcon Chicago. Drupalers have a jolly time, nobody
  recalls who wins, and Irish Drupal hosts many more trivia nights. <a href="https://t.co/Ub8SNrJ2uF">https://t.co/Ub8SNrJ2uF</a>
</p>&mdash; weitzman (@weitzman) <a href="https://twitter.com/weitzman/status/1337819419838476290?ref_src=twsrc%5Etfw">December
  12, 2020</a></blockquote>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Drupalcon Prenote - 2015-05-12<br><br>jam &amp; robertDouglass
  wake us up for an infotainment extravaganza featuring sing-a-longs; bad jokes; Git tutorials, yodelling,or beer
  pouring technique. On this day we belted out a Drupalized Let it Go from Frozen. <a href="https://t.co/Ub8SNrJ2uF">https://t.co/Ub8SNrJ2uF</a>
</p>&mdash; weitzman (@weitzman) <a href="https://twitter.com/weitzman/status/1338123693608853510?ref_src=twsrc%5Etfw">December
  13, 2020</a></blockquote>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</body>
</html>
