<div class="block px-1 py-1">
    <h2 class="title">Tweets</h2>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Drupalcon Trivia Night 2011-03-10<br><br>Alan Burke proposes an
        in-person, team based trivia contest on the last night of Drupalcon Chicago. Drupalers have a jolly time, nobody
        recalls who wins, and Irish Drupal hosts many more trivia nights. <a href="https://t.co/Ub8SNrJ2uF">https://t.co/Ub8SNrJ2uF</a>
    </p>&mdash; weitzman (@weitzman) <a href="https://twitter.com/weitzman/status/1337819419838476290">December
        12, 2020</a></blockquote>
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Drupalcon Prenote - 2015-05-12<br><br>jam &amp; robertDouglass
        wake us up for an infotainment extravaganza featuring sing-a-longs; bad jokes; Git tutorials, yodelling,or beer
        pouring technique. On this day we belted out a Drupalized Let it Go from Frozen. <a
                href="https://t.co/Ub8SNrJ2uF">https://t.co/Ub8SNrJ2uF</a>
    </p>&mdash; weitzman (@weitzman) <a href="https://twitter.com/weitzman/status/1338123693608853510">December
        13, 2020</a></blockquote>

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Automated testing for Drupal Core &amp; Contrib
        2011-01-06<br><br>Simpletest module is added in Drupal 7, along with a substantial test suite. DrupalCI ensures
        that patches pass tests before merge. Drupal Test Traits later brings this framework to client sites <a
                href="https://t.co/Ub8SNs0Dmd">https://t.co/Ub8SNs0Dmd</a></p>&mdash; weitzman (@weitzman) <a
            href="https://twitter.com/weitzman/status/1339593893566812161?ref_src=twsrc%5Etfw">December 17, 2020</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>