body {
    font-family: 'Ubuntu',sans-serif
}

nav.bg-blue {
    background-color: #0678be;
}
.nav-item {

}
h1, h2 {
    color: #064771;
    display: block;
}
hr {
    margin: 0;
}
.content {
    color: #222222;
    font-size: 1rem;
}
.year {
    position: relative;
}
.timeline {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 2.2rem;
    z-index:-1;
    background-color:gainsboro

}
h4.btn {
    border: 2px solid #DDD;
    background: whitesmoke;
    width: 4.5rem;
    border-radius: 50%;
    height: 4.5rem;
    padding-top: 1.3rem;
    font-weight: bold;
}
.submitted time {
    border-bottom: 1px dotted;
    cursor: pointer;
    white-space: nowrap;
}
.submitted {
    font-style: italic;
}
.permalink {
    font-weight:normal;
    font-style:normal;
    text-decoration: none;
    color: #4e4e4e;
}
a.permalink:hover, a.permalink:focus{
    color:#0678be;
    text-decoration: underline;
}
blockquote {
    margin: 0 0 0 1em;
    padding-left: 30px;
}
blockquote:before {
    color: rgb(6, 120, 190);
    content: "\201C";
    float: left;
    font-size: 3em;
    margin: 0 0 0 -0.6em;
}

a.picture {
    width: 40px;
    float: left;
}
.picture img {
    background: #FFF;
    display: block;
    border-radius: 50%;
}

.item-card-desc {
    margin-left: 90px;
}
@media (max-width: 991.98px) {
    div.description {
        display: none;
    }
}